<% content_for :page_title, 'Call for Gift Ideas!' %>

<div class="card">
  <h1 class="text-center">Welcome!</h1>
  <p>
    Total number of products wished for: <span><%= @total_count %></span>
  </p>

  <h1 class="text-center">Demos</h1>
  <div class="row text-center mb-3">
    <div class="col-sm-6">
      <%= link_to 'For Men 👨', call_path(@demo_male.slug),
        class: 'btn btn-primary form-submit', target: '_blank' %>
    </div>
    <div class="col-sm-6">
      <%= link_to 'For Women 👩', call_path(@demo_female.slug),
        class: 'btn btn-primary form-submit', target: '_blank' %>
    </div>
  </div>

  <div id="new-call"></div>
</div>

<div class="preloading" style="display: none;">
  <%= image_tag "https://s3-us-west-2.amazonaws.com/callforgiftideas/aw_yiss.png" %>
  <%= image_tag "https://s3-us-west-2.amazonaws.com/callforgiftideas/ripple.gif" %>
</div>
