<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield(:preloader) %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "wizard" %>
    <%= javascript_pack_tag "form" %>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= render partial: 'layouts/favicon' %>

    <meta property="og:site_name" content="Call for Gift Ideas!">
    <meta property="og:url" content="http://callforgiftideas.com/">
    <meta property="og:title" content="Call for Gift Ideas | Find the Perfect Gift Idea Every Time">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Anonymously present your loved ones with an easy way to pick from web's best gift ideas. Find a present they'll love!">

    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/callforgiftideas/ogimage.png">
    <meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/callforgiftideas/ogimage.png">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Call for Gift Ideas | Find the Perfect Gift Idea Every Time">
    <meta name="twitter:description" content="Anonymously present your loved ones with an easy way to pick from web's best gift ideas. Find a present they'll love!">

    <link rel='manifest' href='/manifest.json'>

    <title><%= yield(:page_title) %></title>
  </head>

  <body>
    <%= render partial: 'layouts/google_analytics' %>
    <%= render partial: 'layouts/svg_definitions' %>

    <%= yield %>

  </body>
</html>
